<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- axios link -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Hello <span id="user-name">World</span></h1>
    <a href="/logout">Log Out</a>

    <script>
        (async () => {
            const user = await axios({
                method: 'get',
                url: '/api/auth/user'
            })
                .then(response => response.data)

            if (user) {
                console.log(user);
                const {display_name, nickname, name} = user;

                document.getElementById('user-name').innerText = nickname || name;
            } else {
                console.log('not logged in')
            }
        })()
    </script>
</body>
</html>